<div class="">

   <div class="row">

    <div class="mr-3 col">
            <div id='form' class='_form'>
            <% if !@order.errors.full_messages.empty? %>
                <div class="alert alert-danger">
                    <ul class="ml-3">
                        <% @order.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            <%= render partial: 'form', locals: { btn: 'Save', btnc: 'success' } %>    
            </div>
        </div>
    <div class="p-3 col invited-container">

          <div class="d-flex .align-content-around flex-wrap" id="invited">
          </div>
    </div>
  </div>

</div>