<div class="container">
   <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12">
    
    <div class="col-lg-5">
            <div id='form' class='_form'>
            <% if !@order.errors.full_messages.empty? %>
                <div class="alert alert-danger">
                    <ul class="ml-3">
                        <% @order.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            <%= render partial: 'form', locals: { btn: 'Save', btnc: 'success' } %>    
            </div>
        </div>
    <div class="p-3 col-lg-7 invited-container">

          <div class="d-flex .align-content-around flex-wrap" id="invited">
          </div>
    </div>
  </div>
  </div>
  </div>